<div class="modal-header">
   <h3>Настройка Фона</h3>
</div>
<style>
    .modal:not(#modal-image) .modal-body {
        max-height: 450px !important;
    }

    .modal-open{
        overflow-y: auto;
    }

    .modal:not(#modal-image) .modal-body > div {
        margin-top: 1px;
        padding: 10px 10px 0 15px;
        background-color: #f4f4f4;
    }

    .modal:not(#modal-image) .modal-body > div > span{
        display: inline-block;
        margin-bottom: 5px;
    }
    .modal:not(#modal-image) .modal-footer{
        padding-bottom: 0;
    }

    .modal.fade.in{
        top: 50%;
        margin-top: -260px;
    }

    .popup-option {
        display: block;
    }
    .in-opt{
        float: left;
        margin-right: 30px;;
    }
    .in-opt span{
        display: block;
        margin-bottom: 5px;;
    }
    .img-select a:first-of-type{
        min-width: 100px;
    }

</style>
<div class="modal-body bg-editor">
   <!--<pre>{{ngModel|json}}</pre>-->
   <div class="popup-option" style="overflow: hidden; margin-top: 0">
       <div class="in-opt" data-ng-show="bgcolor">
           <span>Цвет</span>
           <j-opt-color data-ng-model="ngModel.bgcolor"></j-opt-color>
       </div>
       <div class="in-opt" style="margin-bottom: 10px;">
           <span>Изображение / Узор</span>
           <j-opt-image data-ng-model="ngModel.bgimage"></j-opt-image>
       </div>
       <div class="in-opt">
           <span style="display: block">Фикс</span>
           <switch data-ng-model="ngModel.bgimage_attach">
               <switch-option key="fixed">ВКЛ</switch-option>
               <switch-option key="scroll">ВЫКЛ</switch-option>
           </switch>
       </div>
   </div>

   <div class="popup-option" style="clear: both">
       <span style="display: block">Повтор</span>
       <switch data-ng-model="ngModel.bgimage_repeat">
           <switch-option key="repeat">Повтор</switch-option>
           <switch-option key="no-repeat">Без Повтора</switch-option>
           <switch-option key="repeat-x">По Гор.</switch-option>
           <switch-option key="repeat-y">По Вер.</switch-option>
       </switch>
   </div>
   <div class="popup-option">
       <span>Позиция</span>
       <switch data-ng-model="ngModel.bgimage_position">
           <switch-option key="center">По Центру</switch-option>
           <switch-option key="left">Слева</switch-option>
           <switch-option key="top">Сверху</switch-option>
           <switch-option key="right">Справа</switch-option>
           <switch-option key="bottom">Снизу</switch-option>
       </switch>
   </div>
   <!--<div class="popup-option">-->
       <!--<span>Gradient</span>-->
       <!--<a style="float: right" href="http://ie.microsoft.com/testdrive/graphics/cssgradientbackgroundmaker/" target="_blank">Generate gradient</a>-->
       <!--<textarea style="display: block; width: 505px" data-ng-model="ngModel.gradient" cols="30" rows="10"></textarea>-->
   <!--</div>-->
</div>
<div class="modal-footer">
   <a class="btn btn-primary green" ng-click="save()">OK</a>
   <br /><br />
</div>