html, body {
	margin: 0;
	padding: 0;
 	 height: 100%;
}
body {
  	min-height: 100%;
  	height: auto !important;
  	height: 100%;
  	position: relative;
}
#wf-content {
  	padding-bottom: 2.5em;
}
#wf-footer {
  	height: 2.5em;
  	width: 100%;
  	position: absolute;
  	bottom: 0;
}