/* Quick classes for often used fonts */
.arial 			{ font-family: Arial, Helvetica, sans-serif; }
.times 			{ font-family: "Times New Roman", Times, serif; }
.georgia 		{ font-family: Georgia, "Times New Roman", Times, serif; }
.verdana 		{ font-family: Verdana, Geneva, sans-serif; }
.tahoma 		{ font-family: Tahoma, Geneva, sans-serif; }
.corier 		{ font-family: "Courier New", Courier, monospace; }
.lucida-console	{ font-family: "Lucida Console", Monaco, monospace; }
.lucida-text 	{ font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif; }


/* Quick classes for font weights and decorations */
.b 		{ font-weight: bold; }
.em, .i	{ font-style: italic; }
.u 		{ text-decoration: underline; }
.s 		{ text-decoration: line-through; }
.uc 	{ text-transform: uppercase; }
.lc 	{ text-transform: lowercase; }
.n		{ font-style: normal !important; font-weight: normal !important; text-decoration: none !important; text-transform: none !important; }


/* Quick Ruble Sign */
.arial 		.ruble 	{ font-family: "Ruble Arial", Arial, Helvetica, sans-serif !important; }
.georgia 	.ruble	{ font-family: "Ruble Georgia", Georgia, "Times New Roman", Times, serif !important; }
.times 		.ruble	{ font-family: "Ruble Times", "Times New Roman", Times, serif !important; }
.verdana 	.ruble	{ font-family: "Ruble Arial", Arial, Helvetica, sans-serif !important; } /* for while */
.tahoma 	.ruble 	{ font-family: "Ruble Arial", Arial, Helvetica, sans-serif !important; } /* for while */

.ruble span { 
	position: absolute; 
	overflow: hidden; 
	width: 1px; 
	height: 1px; 
	margin: 0.1ex 0 0 -0.55em;
}


/* Font sizes in pt */
.pt6		{ font-size: 6pt !important; }
.pt8		{ font-size: 8pt !important; }
.pt10		{ font-size: 10pt !important; }
.pt12		{ font-size: 12pt !important; }
.pt14		{ font-size: 14pt !important; }
.pt16		{ font-size: 16pt !important; }
.pt18		{ font-size: 18pt !important; }
.pt20		{ font-size: 20pt !important; }
.pt22		{ font-size: 22pt !important; }
.pt24		{ font-size: 24pt !important; }
.pt30		{ font-size: 30pt !important; }
.pt36		{ font-size: 36pt !important; }
.pt48		{ font-size: 48pt !important; }
.pt60		{ font-size: 60pt !important; }
.pt72		{ font-size: 72pt !important; }


/* Quick classes and multipliers for font sizes in em */
.x0-5	{ font-size: 0.5em !important; }
.x0-6	{ font-size: 0.6em !important; }
.x0-7	{ font-size: 0.7em !important; }
.x0-8	{ font-size: 0.8em !important; }
.x0-9	{ font-size: 0.9em !important; }
.x1 	{ font-size: 1em !important; }
.x1-1 	{ font-size: 1.1em !important; }
.x1-2 	{ font-size: 1.2em !important; }
.x1-3 	{ font-size: 1.3em !important; }
.x1-4 	{ font-size: 1.4em !important; }
.x1-5	{ font-size: 1.5em !important; }
.x1-6	{ font-size: 1.6em !important; }
.x1-7	{ font-size: 1.7em !important; }
.x1-8	{ font-size: 1.8em !important; }
.x1-9	{ font-size: 1.9em !important; }
.x2 	{ font-size: 2em !important; }
.x2-2	{ font-size: 2.2em !important; }
.x2-5	{ font-size: 2.5em !important; }
.x3 	{ font-size: 3em !important; }
.x4 	{ font-size: 4em !important; }
.x5 	{ font-size: 5em !important; }
.x6 	{ font-size: 6em !important; }


/* Typographical names via Didot system. See http://www.paratype.ru/help/term/tm.htm for details */

/* DTP */
.nonpareil						{ font-size: 0.5pc !important; }		/* 6pt; */
.brevier						{ font-size: 0.66pc !important; }		/* 8pt */
.long-primer					{ font-size: 0.83pc !important; }		/* 10pt */
.pica							{ font-size: 1pc !important; }			/* 12pt */
.brevier-2						{ font-size: 1.33pc !important; }		/* 14pt */
.great-primer					{ font-size: 1.5pc !important; }		/* 16pt */
.paragon						{ font-size: 1.66pc !important; }		/* 18pt */
.pica-2							{ font-size: 2pc !important; }			/* 24pt */
.pica-3							{ font-size: 3pc !important; }			/* 36pt */
.pica-4							{ font-size: 4pc !important; }			/* 48pt */

/* Didot */
.nonpareille					{ font-size: 2.25mm !important; }		/* 6pt */
.petit							{ font-size: 3mm !important; }			/* 8pt */
.garmond						{ font-size: 3.76mm !important; }		/* 10pt */
.cicero							{ font-size: 4.51mm !important; }		/* 12pt */
.tertia							{ font-size: 6.01mm !important; }		/* 14pt */
.tekst							{ font-size: 6.77mm !important; }		/* 16pt */
.parangon						{ font-size: 7.52mm !important; }		/* 18pt */
.cicero-2						{ font-size: 9.02mm !important; }		/* 24pt */
.cicero-3, .kanon				{ font-size: 13.53mm !important; }		/* 36pt */
.cicero-4						{ font-size: 18.05mm !important; }		/* 48pt */